html {
  font-size: 62.5%;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Poppins", "Arial Narrow", Arial, sans-serif;
  font-size: 1.6rem;
}

.sidebar {
  color: rgba(255, 255, 255, 0.7);
  background: #11101d;
  position: fixed;
  width: 32rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
  white-space: nowrap;
}

.sidebar__body {
  padding: 2rem;
}
.sidebar__body .sidebar__top {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  margin-bottom: 4rem;
}
.sidebar__body .sidebar__logo--img:hover,
.sidebar__body .sidebar__close:hover {
  color: #fff;
  cursor: pointer;
}
.sidebar__body .sidebar__logo--name {
  margin-left: 1rem;
}
.sidebar__body .sidebar__logo--name:hover {
  color: #fff;
  cursor: pointer;
}

.sidebar__menu .sidebar__search {
  position: relative;
  height: 4.5rem;
  width: 100%;
  margin-bottom: 4rem;
}
.sidebar__menu .sidebar__search .sidebar__input {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding-left: 5rem;
}
.sidebar__menu .sidebar__search .sidebar__search--icon {
  color: #000;
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}

.sidebar__list {
  margin: 0;
}
.sidebar__list .sidebar__item {
  position: relative;
  list-style: none;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  cursor: pointer;
}
.sidebar__list .sidebar__item--name {
  width: 100%;
  position: relative;
}
.sidebar__list .sidebar__item--name::after {
  opacity: 0;
  background: #fff;
  color: #000;
  content: attr(data-name);
  position: absolute;
  top: 50%;
  transform: translate(20%, -100%);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #11101d;
  transition: 0.2s;
}
.sidebar__list .sidebar__item--name--active::after {
  opacity: 1;
  transform: translate(20%, -50%);
}
.sidebar__list .sidebar__item--icon {
  margin-right: 1.5rem;
}

.sidebar__footer {
  background: rgba(240, 52, 52, 0.6);
  color: #fff;
  height: 8rem;
}
.sidebar__footer:hover {
  background: rgba(240, 52, 52, 0.6);
}
.sidebar__footer .sidebar__logout {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2.5rem;
}

.sidebar--close {
  width: 7rem;
  padding: 0;
}
.sidebar--close .sidebar__top {
  display: flex;
  justify-content: center;
}
.sidebar--close .sidebar__top .sidebar__logo {
  display: none;
}
.sidebar--close .sidebar__menu .sidebar__search .sidebar__input {
  opacity: 0;
}
.sidebar--close .sidebar__menu .sidebar__search .sidebar__search--icon {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100%;
  height: 5rem;
  border-radius: 5rem;
}
.sidebar--close .sidebar__body {
  padding: 2rem 1rem;
}
.sidebar--close .sidebar__body .sidebar__menu .sidebar__list {
  padding-left: 0;
}
.sidebar--close .sidebar__body .sidebar__menu .sidebar__item {
  margin-bottom: 4rem;
}
.sidebar--close .sidebar__body .sidebar__menu .sidebar__item .sidebar__item--name {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
}
.sidebar--close .sidebar__body .sidebar__menu .sidebar__item .sidebar__item--name .sidebar__item--icon {
  margin: 0;
}
.sidebar--close .sidebar__body .sidebar__menu .sidebar__item .sidebar__item--name .sidebar__item--text {
  display: none;
}
.sidebar--close .sidebar__logout {
  font-size: 1.6rem;
}

/*# sourceMappingURL=side.css.map */
